<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Northwind"
             connectionString="server=(local);database=Northwind;integrated security=SSPI;"
             providerName="System.Data.SqlClient" />
		<add name="AtomicGroceries"
	 connectionString="server=(local);database=AtomicGroceries;integrated security=SSPI;"
	 providerName="System.Data.SqlClient" />
		<add name="ChamberOfSecrets"
	 connectionString="server=(local);database=ChamberOfSecrets;integrated security=SSPI;"
	 providerName="System.Data.SqlClient" />
		<add name="AdventureWorks1"
	 connectionString="server=(local);database=AdventureWorks1;integrated security=SSPI;"
	 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>